body {
  background-color: #e4e6e7;
}

#how {
  float: left;
}

.clearfix {
  overflow: auto;
}

#about {
  float: right;
  background-color: #252729;
  width: 200px;
}

.about {
  color: white;
}

.jumbotron {
  text-align: center;
  font-family: sans-serif;

}

h2 {
  text-decoration: underline;
  font-style: italic;
}

p {
  font-family: monospace;
  font-size: 15px;
}

li {
  font-family: monospace;
  font-size: 15px;
}

#butt {
  background-color: #252729;
  font-family: monospace;
}

#label {
  font-size: 15px;
  font-family: monospace;
}

#abtn {
  background-color: #252729;
  font-family: monospace;
  float: right;
}
